AppJS
import React from 'react';
import { Admin, Resource } from 'react-admin';
import { UserList } from './users';
import jsonServerProvider from 'ra-data-json-server';

const dataProvider = jsonServerProvider('http://jsonplaceholder.typicode.com');

const App = () => (
    <Admin dataProvider={dataProvider}> //Componente principal do react-admin. Ele requer o dataProvider que é a ponte para o fornecedor de dados (api)
      <Resource name="users" list={ UserList } /> //O componente admin tem componentes filhos que são os Resource. Cada Resource mapeia para um endpoint da api com a variavel name.
    </Admin>									  // a 'Userlist' define como os dados serão apresentados.
  );

export default App;


*******************
usersJS
export const UserList = props => (
		<List { ...props }> //List é o principal componente do arquivo usersJS. Ela é responsavél por pegar os dados que a api entregou, mostrar o titulo da página e fazer a paginação (pagination). O display dos dados em si é feito pelos seus filhos
			<Datagrid rowClick="edit"> //Esse componente é responsável por criar uma table para a visualização dos dados com uma linha para cada entrada (record). Ela usa seus filhos para definir que colunas vai criar
				<TextField source="id"/> //O source mapeia o componente para o campo dos dados de resposta da api. Ex: source="name" -> [{id: 1, name: Cesar, email: @mail}]
				<TextField source="name"/>
				<TextField source="username" />
				<EmailField source="email" />
				<TextField source="address.street" />
				<TextField source="phone" />
			</Datagrid>
		</List>
	);